@model Usuario

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="pt-br">  <!--Idioma Português-Brasil-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dados Cadastrados</title>

    <!-- Link estilo Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Link estilo css-->
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>

    <!-- JavaScript -->
    <script src="/js/site.js"></script>

</head>  

<body>  
   <div id="main" class="container-fluid">   
    <h3 class="page-header">Informações Pessoais</h3>    
    <form action="index.html">
      <div class="row">
        <div class="form-group col-md-6">
          <label @Html.DisplayNameFor(model => model.nome) for="nome">Nome Completo</label>
          @Html.TextBoxFor(model => model.nome, new {@class="form-control", @id="nome", @disabled="true"})
        </div>
        <div class="form-group col-md-2">
          <label @Html.DisplayNameFor(model => model.cpf) for="cpf">CPF</label>
          @Html.TextBoxFor(model => model.cpf, new {@class="form-control", @id="nome", @disabled="true"})
        </div>
        <div class="form-group col-md-4">
          <label @Html.DisplayNameFor(model => model.email) for="email">E-mail</label>
          @Html.TextBoxFor(model => model.email, new {@class="form-control", @id="email", @disabled="true"})
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-2">
          <label @Html.DisplayNameFor(model => model.cep) for="cep">CEP</label>
          @Html.TextBoxFor(model => model.cep, new {@class="form-control", @id="cep", @disabled="true"})
        </div>
        <div class="form-group col-md-6">
          <label @Html.DisplayNameFor(model => model.logradouro) for="logradouro">Logradouro</label>
          @Html.TextBoxFor(model => model.logradouro, new {@class="form-control", @id="logradouro", @disabled="true"})
        </div>
        <div class="form-group col-md-1">
          <label @Html.DisplayNameFor(model => model.numero_endereco) for="numero_endereco">Nº</label>
          @Html.TextBoxFor(model => model.numero_endereco, new {@class="form-control", @id="numero_endereco", @disabled="true"})
        </div>
        <div class="form-group col-md-3">
          <label @Html.DisplayNameFor(model => model.complemento) for="complemento">Complemento</label>
          @Html.TextBoxFor(model => model.complemento, new {@class="form-control", @id="complemento", @disabled="true"})
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-4">
          <label @Html.DisplayNameFor(model => model.bairro) for="bairro">Bairro</label>
          @Html.TextBoxFor(model => model.bairro, new {@class="form-control", @id="bairro", @disabled="true"})
        </div>
        <div class="form-group col-md-4">
          <label @Html.DisplayNameFor(model => model.cidade) for="cidade">Cidade</label>
          @Html.TextBoxFor(model => model.cidade, new {@class="form-control", @id="cidade", @disabled="true"})
        </div>
        <div class="form-group col-md-1">
          <label @Html.DisplayNameFor(model => model.estado) for="estado">Estado</label>
          @Html.TextBoxFor(model => model.estado, new {@class="form-control", @id="estado", @disabled="true"})
        </div>
        <div class="form-group col-md-3">
          <label @Html.DisplayNameFor(model => model.telefone) for="telefone">Telefone</label>
          @Html.TextBoxFor(model => model.telefone, new {@class="form-control", @id="telefone", @disabled="true"})
        </div>
    </div>  
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-danger" asp-controller="Usuarios" asp-action="EditarDados">Editar</button>
        <button type="submit" class="btn btn-light" asp-controller="Home" asp-action="Index">Voltar</button>
      </div>
    </div>
  
    </form>
   </div>
</body>
</html>
