@model List<Pergunta>
@{
    ViewData["Title"] = "Perguntas";
}

<!DOCTYPE html>

<html lang="pt-br">  <!--Idioma Português-Brasil-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Teste de Português</title>

    <!-- Link estilo Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Link estilo css-->
    <link rel="stylesheet" type="text/css" href="estilo.css"/>

    <!-- JavaScript -->
    <script src="javascript.js" defer></script>
</head>  



<body style="background-color: #d3ceec">  
  <div class="container-tb">
  <table id="tabela" class="questoes">

            @if (Model != null && Model.Any())
            {
                foreach (Pergunta pergunta in Model)
                {
                    //APARECER A PERGUNTA SELECIONADA ALEATÓRIAMENTE JUNTO COM AS ALTERNATIVAS
                   <tr>@pergunta.pergunta</tr> 
                   <tr><td class="col_titulo"></td><td class="col_info"></td></tr>
                   <tr><td class="col_titulo"><input type="radio"></td><td class="col_info">@pergunta.alternativaA</td></tr>
                   <tr><td class="col_titulo"><input type="radio"></td><td class="col_info">@pergunta.alternativaB</td></tr>
                   <tr><td class="col_titulo"><input type="radio"></td><td class="col_info">@pergunta.alternativaC</td></tr>
                   <tr><td class="col_titulo"><input type="radio"></td><td class="col_info">@pergunta.alternativaD></td></tr>
                   <tr><td class="col_titulo"><input type="radio"></td><td class="col_info">@pergunta.alternativaE</td></tr>
                    // APARECER A RESPOSTA QUANDO CLICAR NO BOTÃO RESPOSTA
               }
            }   
  </table>

  <div class="form-group">
    <input type="submit" value="Anterior" class="btn btn-primary" />
    <input type="submit" value="Resposta" class="btn btn-secondary" /> 
    <input type="submit" value="Próxima" class="btn btn-primary" />
  </div>

  <div>
    <a asp-controller="Home" asp-action="Index">Voltar ao Menu principal</a>
</div>

  </div>
</body>
</html>

